*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  transition: .8s ease-in-out;
}

/* ====================
    BODY
   ==================== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

/* ====================
    HEADER
   ==================== */
header{
  background-color: var(--header-bg);
  color: var(--text);
}

.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--header-bg);
  color: var(--text-color);
}

/* ====================
    BUTTONS
   ==================== */
.btns button {
  margin: 0 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--button-bg);
  color: var(--text);
  font-weight: bold;
  border: 1px solid var(--buttons-border);
}

.btns button:hover {
  background-color: var(--btns-hover-bg);
  color: var(--btns-hover-text);
  box-shadow: 0 0 10px var(--btns-bs);
}
    
/* ====================
    TOGGLE CONTAINER
   ==================== */
.toggle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s ease-in-out;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* ====================
    FILTER BAR
   ==================== */
.filter-bar {
  padding: 15px 20px;
  background-color: var(--header-bg);
  color: var(--text);
}


#ratingFilter{
  margin-left: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #6e7071;
  color: white;
  cursor: pointer;
}


/* ====================
    HAMBURGER MENU
   ==================== */
.fa-bars{
  font-size: 30px;
  display: none;
}

.side-nav{
  display: none;
}


/* ====================
    MOVIE GRID
   ==================== */
#movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}


/* ====================
    MOVIE CARD
   ==================== */
.movie-card {
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 10px;
  transition: .8s ease-in-out;
  cursor: pointer;
  border: 1px solid black;
  background-color: var(--card-bg);
  color: var(--text);
}


.movie-card:hover{
  transform: scale(1.03);
  background: var(--hover-background);
  color: var(--hover-color);
  box-shadow: 0 0 10px var(--card-hover-bs);
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

/* ====================
    SEARCH CONTAINER
   ==================== */
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 10px;
  padding: 20px;
}

.search-container input{
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.search-container button{
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #2196F3;
  color: white;
  transition: .3s;
}

.search-container button:hover{
  opacity: .9;
}

#favoritesBtn{
  width: 90%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: crimson;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
  transition: .3s ease-in-out;
}

#favoritesBtn:hover{
  opacity: .9;
}

.favorite-btn{
  background-color: var(--fav-bg);
  border: 1px solid var(--fav-b);
  font-size: 17px;
  cursor: pointer;
  color: var(--text);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
}

/* ====================
    MODAL
   ==================== */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000cc;
}

/* ====================
    MODAL CONTENT
   ==================== */
.modal-content {
  background: var(--card-bg);
  color: var(--text);
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
  animation: pop 0.3s ease;
}

.modal-content h2 {
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.modal-content p {
    margin: 10px;
}

.modal-content p strong{
    font-size: 18px;
}

#modalOverview{
    font-size: 20px;
    margin: 20px 0;
}

/* ====================
    CLOSE BUTTON
   ==================== */
.closeBtn {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.closeBtn:hover {
  background-color: var(--close-hover-bg);
  color: var(--close-hover-color);
}

/* ====================
    TRAILER BUTTON
   ==================== */
#trailerBtn{
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

/* ====================
    ANIMATION
   ==================== */
@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


/* ====================
    FOOTER
   ==================== */
footer{
  text-align: center;
  padding: 50px;
  line-height: 30px;
  background-color: var(--footer-bg);
  color: var(--text);
}


/* ====================
    MEDIA QUERIES
   ==================== */
@media(max-width: 800px){
  .btns{
    display: none;
  }

  .toggle-container{
    display: none;
  }

  .fa-bars{
    display: block;
    cursor: pointer;
  }

  .side-nav{
    display: block;
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: var(--side-header-bg);
    color: var(--side-text);
  }

  .side-nav h1{
    margin: 20px;
  }

  /* Hamburger Switch */
  .ham-switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .ham-switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .ham-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s ease-in-out;
    border-radius: 24px;
  }

  .ham-slider:before{
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s ease-in-out;
    border-radius: 50%;
  }

  input:checked + .ham-slider {
    background-color: #2196F3;
  }

  input:checked + .ham-slider:before {
    transform: translateX(26px);
  }

  .side-btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .side-btns button{
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--side-btns-bg);
    border: var(--side-btn-border);
    color: white;
    font-size: 20px;
    transition: .8s ease-in-out;
    cursor: pointer;
  }

  .side-btns button:hover{
    box-shadow: 0 0 10px var(--side-btns-bs);
    background-color: var(--side-hover-bg);
  }

  .ham-toggle-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }

  .side-nav label{
    color: white;
  }

  .ham-toggle-container{
    gap: 10px;
  }

  .nav-close{
    font-size: 30px;
    font-weight: bold;
    color: var(--span-color);
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .8s ease-in-out;
    color: var(--nav-close-color);
  }

  .nav-close:hover{
    background-color: var(--nav-close-hover-bg);
    color: var(--nav-close-hover-color);
  }

  .side-nav h1{
    color: var(--side-nav-h1);
  }

  /* ====================
    SEARCH CONTAINER
   ==================== */
  .search-container{
    flex-direction: column;
    align-items: center;
  }

  .search-container input{
    width: 90%;
  }

  .search-container button{
    width: 90%;
  }

}

/* ====================
    🌑 DARK MODE (default)
    ==================== */
body.dark {
  --bg: #111;
  --text: #ffffff;

  --header-bg: #313131;
  --card-bg: #333;
  --button-bg: #444;
  --buttons-border: #9c9c9c;
  --btns-hover-bg: #202020;
  --btns-hover-text: #dbdbdb;
  --footer-bg: #262525;
  --card-hover-bs: white;
  --hover-background: linear-gradient(to top, white -100%, transparent 100%);

  --fav-bg: black;
  --fav-b: #000000;

  --close-hover-bg: white;
  --close-hover-color: black;

  --side-btns-bg: #1b1a1a;
  --side-header-bg: #444141;
  --side-text:#ffffff;
  --side-btns-bs: black;
  --side-hover-bg: #444;
}

/* ====================
    🌕 LIGHT MODE
   ==================== */
body.light {
  --bg: #ffffff;
  --text: #000000;

  --header-bg: #a5a5a5;
  --card-bg: #f2f2f2;
  --button-bg: #8b8989;
  --buttons-border: #464646;
  --btns-hover-bg: #696969;
  --btns-hover-text: #dbdbdb;
  --footer-bg: #d9d9d9;
  --card-hover-bs: black;
  --hover-background: linear-gradient(to top, black -100%, transparent 100%);

  --fav-bg: #c0c0c0;
  --fav-b: #000000;
  
  --close-hover-bg: black;
  --close-hover-color: white;

  --side-btns-bg: #444;
  --side-header-bg: #a1a1a1;
  --side-text:black;
  --side-btns-bs: black;
  --side-hover-bg: #272727;
}